.Qrarea{
    width: max-content;
    box-sizing: border-box;
    box-shadow: 5px 5px 19px  lightgray ;
    background-color: #fff;
    filter: drop-shadow(1200px);
}
.QrArea{
    background-color: transparent;
    padding: 80px 80px;
}
.main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.Qrsettings{
    display: flex;
    flex-direction: column;
    width: 650px;
    padding: 25px 25px;
    text-align: left;
    font-size: 11px;
    background: rgba(235, 233, 233, 0.263);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    margin: 12px 14px;
    border-radius: 13px;
    -webkit-box-shadow: 4.5px -0.5px 21px -2px #dddddd;
-moz-box-shadow: 4.5px -0.5px 21px -2px #dddddd;
box-shadow: 4.5px -0.5px 21px -2px #dddddd;
}
.Qrsettings input{
    padding: 12px 10px;
    border: none;
    transition: 0.2s ease;
    border-radius: 12px;
}
.Qrsettings input:hover{
    border: 2px solid blueviolet;
    filter: drop-shadow(rgba(17, 12, 46, 0.15) 0px 48px 100px 0px);
}
.Qrsettings button{
    padding: 7px 7px;
    margin: 10px 10px;
    color: transparent;
    border: 1px solid lightgray;
    color: black;
    width: 80px;
    border-radius: 50px;
    cursor: pointer;
}
.formatBtn{
    display: flex;
}
.formatBtn button{
    border-radius: 10px;
    color: white;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    border: none;
    box-shadow: 1px 1px 3px #121212;
}
.redundancyBtn button{
    border-radius: 10px;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    color: white;
    font-size: 15px;
}
.star{
    color: gold;
    font-size: 23px;
    position: relative;
    left: -45px;
    top: 2px;
    filter: drop-shadow(2px 2px 18px goldenrod );
}
.starAdvance{
    color: gold;
    font-size: 23px;
    position: relative;
    left: -25px;
    top: 2px;
    filter: drop-shadow(2px 2px 18px goldenrod );
}
.toogleoff{
    font-size: 16px;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 120px;
    left: 350px;
    display: flex;
    gap: 10px;
}
.star2{
    color: gold;
    font-size: 23px;
    position: relative;
    left: -125px;
    top: 2px;
    filter: drop-shadow(2px 2px 18px goldenrod );
}
img .QRimg:hover{
    filter: blur(200px);
}
.BarcodeBtn{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    padding: 12px 13px;
    color: white;
    border: none;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-weight: 600;
    position: absolute;
    top: 107px;
    left: 800px;
    cursor: pointer;
}
@media screen and (min-width:320px) and (max-width: 475px){
    .main{
        flex-direction: column;
    }
    .Qrarea{
        padding: 80px 80px;
    }
    .formatBtn{
        flex-direction: row;
        flex-wrap: wrap
    }
    .formatBtn button{
        font-size: 14px;
        padding: 6px;
    }
    .redundancyBtn button{
        font-size: 16px;
        padding: 6px;
    }
    .Qrarea{
        position: sticky;
        top: 0;
        padding: 20px 20px;
        z-index: 1;
    }
    .star2{
      top: -50px;
      left: 75px;
    }
    .toogleoff{
        top: 75px;
        left: 110px;
    }
    .warning{
        width: 70px;
        font-size: 8px;
    }
    .highTag{
        top: 1600px;
    }
    .Qrsettings{
        margin-top: 70px;
        width: 330px;
    }
    .BarcodeBtn{
        position: static;
        margin-top: 30px;
        border-radius: 12px;
    }
}