*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.uppernav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(9 9 11);
    height: 12vh;
    font-size: 20px;  
}

